.accordion-button:not(.collapsed) {
  background: #fd7e14;
  color: #ffffff;
}
.accordion-button:focus {
  box-shadow: none;
}
/* .form-area {
  padding-top: 7%;
} */
.single-form {
  background: #fff;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.15);
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}
/* .left {
  background: rgb(153, 83, 66);
  padding: 200px 230px;
}
.left h2 {
  font-family: poppins;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}
.left h2 span {
  font-weight: 100;
} */

/* text area expand */
textarea {
  resize: none !important;
}

/* .iconstyle {
  margin-right: 10px;
  color: #fd7e14;
} */
