
.wrapper {
    box-sizing: border-box;
    padding-top: 5%;
    line-height: 1.5;
    /* max-width: 960px;
    margin: 0 auto; */
}
.box {
    display: flex;
    flex-wrap: wrap;
}
.box label {
    background: #fff;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    order: 1;
    display: block;
    padding: 16px 137px;
    cursor: pointer;
}
.box .content {
    display: none;
    padding: 30px;
    background: #fff;
    border-bottom:5px solid #fd7e14;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    order: 99;
    flex-grow: 1;
    width: 100%;
}
.box input[type="radio"] {
    display: none;
}
.box input[type="radio"]:checked+label {
    color: #fd7e14;
    border-bottom:5px solid  #fd7e14;
}
.box input[type="radio"]:checked+label+.content {
    display: block;
}
@media (max-width:768px) {
    .box .content, .box label {
        order: initial;
    }
    .box label {
        width: 100%;
        margin-right: 0;
        margin-top: 4px;
    }
}
  /* borderless table-day1day2day3 */
 .borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
} 
