.speaker-img{
    border:  2px solid orange !important;
}
.speaker-img:hover{
    border: 4px solid orange !important;
}


/* .speaker-card:hover{
    /* border-radius: 4px; */
    /* background: #fff; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
    /* border-bottom: 3px solid orange !important; */
    /* -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; */
/* } */ 
.wrap-width{
    max-width: 171px;
}
.speaker-sub-heading{
    color: #858080;
    font-size: medium;
}
.speaker-img{
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #3a3b3c;
}