{% extends 'fossciltWebsite/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call for papers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'fossciltWebsite/alignment.css'%}">
    <!-- Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'fossciltWebsite/style.css'%}"> -->
</head>
<body>
    {% block content %}
    <!-- committee members -->
    <section class="container sec-margin">
        <h2 class="text-center"  data-aos="fade-up">Conference Committee</h2>
        <div class="row sec-margin">
            <div class="col-lg-4 col-md-4 col-sm-6 mt-5 text-center" data-aos="fade-up">
                <div>
                    <img src="{% static 'assets/Rathan-U-Kelkar.jpg'%}" class="member mb-3">
                </div>
                <p  class="m-0 member-name">Rathan U Kelkar IAS</p>
                <p class="m-0 speaker-sub-heading">Secretary E&IT Dept. Govt. of Kerala</p>
                <h6 class="m-0 member-position">(Chief Patron)</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mt-5 text-center " data-aos="fade-up">
                <div>
                    <img src="{% static 'assets/manoj_kumar.jpg'%}" class="member mb-3">
                </div>
                <p class="m-0 member-name">T K Manojkumar</p>
                <p class="m-0 speaker-sub-heading">Director , ICFOSS</p>
                <h6 class="m-0 member-position">(Patron)</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mt-5 text-center" data-aos="fade-up">
                <div>
                    <img src="{% static 'assets/rajeev_rr.jpg'%}" class="member mb-3">
                </div>
                <p class="m-0 member-name">Rajeev R R</p>
                <p class="m-0 speaker-sub-heading">Program Head,ICFOSS </p>
                <h6 class="m-0 member-position">(General Chair)</h6>
            </div>
        </div>
    </section>
    <!--========== Advisory committee -->
    <section class="index-sec-margin container" >
        <h4 class="text-center" data-aos="fade-up">Advisory Committee</h4>
        <div>
            <div class="row sec-margin">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/swarn.jpeg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Swaran Lata</p>
                    <p class="m-0 speaker-sub-heading">NLTM, Meity</p>
                    <h6 class="m-0 member-position">(Chair)</h6>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/Dipti_mishra.jpg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Dipti Misra Sharma</p>
                    <p class="m-0 speaker-sub-heading">IIIT Hyderabad</p>
                    <h6 class="m-0 member-position">(Co-Chair)</h6>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/Girish_nadh_jha.jpg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Girish Nath Jha</p>
                    <p class="speaker-sub-heading">Commission for Scientific and Technical Terminology, MoE/GOI</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/sherly.jpg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Elizabeth Sherly</p>
                    <p class="speaker-sub-heading">Digital University Kerala</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/rajendran.jpeg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">S Rajendran</p>
                    <p class="speaker-sub-heading">Amrita Vishwa Vidyapeetham, Coimbatore</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/muthumanickavel.jpeg'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Muthumanickavel Swaminathan</p>
                    <p class="speaker-sub-heading">Cognizant, United Kingdom</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/chitra_ms.png'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">Chithra M S </p>
                    <p class="speaker-sub-heading">ICFOSS</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center  mt-5" data-aos="fade-up">
                    <div>
                        <img src="{% static 'assets/jayasankar.png'%}" class="member mb-3">
                    </div>
                    <p class="m-0 member-name">C. Jayasankar Prasad</p>
                    <p class="speaker-sub-heading">ICFOSS & DCSMAT</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ========Programme and Organizing Committee members -->
    <section class="container sec-margin" data-aos="fade-up">
        <div>
            <!-- Programme committee members -->
            <h4 >Program Committee</h4>
            <div  class="div-margin">
                <ul >
                    <li class="mb-2"><span class="member-name">Sobha. L </span>(Chair)<br>
                        <span class="speaker-sub-heading">AU-KBC Research Centre, Anna University</span> 
                    </li>
                    <li class="mb-2"><span class="member-name">Vishal Goyal</span>(Co-chair)<br>
                        <span class="speaker-sub-heading">Punjab University,Pattiala</span>
                    </li>
                </ul>
                <div class="row">
                    <p >Members</p>
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li  class="mb-2"><span class="member-name">Pattabhi R K Rao T</span><br>
                                <span class="speaker-sub-heading">AU-KBC Research Centre, Anna University</span>
                             </li>
                            <li  class="mb-2"><span class="member-name">Sunil. T. T</span><br>
                                <span class="speaker-sub-heading">College of Engineering, Attingal</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Manish Sreevasthava</span><br>
                                <span class="speaker-sub-heading">IIIT Hyderabad</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Reshmi Ramachandran</span><br>
                                <span class="speaker-sub-heading">Linkopian University, Swedan</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Amitava Das</span><br>
                                <span class="speaker-sub-heading">South Carolina, United States </span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Asif Ekbal</span><br>
                                <span class="speaker-sub-heading">IIT Patna</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">R. Vijay Sundar Ram</span><br>
                                <span class="speaker-sub-heading">AU-KBC Research Centre, Anna University</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Anoop Kunchukuttan</span><br>
                                <span class="speaker-sub-heading"> Microsoft, India</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Prema Nedungadi</span><br>
                                <span class="speaker-sub-heading">Amrita Vishwa Vidyapeetham, Kollam</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Umesh P</span><br>
                                <span class="speaker-sub-heading">College of Engineering, Thalassery</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Gopakumar G</span><br>
                                <span class="speaker-sub-heading">NIT Calicut</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up">
                        <ul>
                            <li  class="mb-2"><span class="member-name">Lajish. V. L</span><br>
                                <span class="speaker-sub-heading">University of Calicut</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Rajesh R</span><br>
                                <span class="speaker-sub-heading">Central University of Kerala</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Muhamed Ilyas P</span><br>
                                <span class="speaker-sub-heading">Sullamussalam science College ,Areekode</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Mohamed Basheer. K. P</span><br>
                                <span class="speaker-sub-heading">Sullamussalam science College ,Areekode</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">K. Satheesh Kumar</span><br>
                                <span class="speaker-sub-heading">Kerala University</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Vinod Chandra S. S</span><br>
                                <span class="speaker-sub-heading">Kerala University</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">G. Santhosh Kumar</span><br>
                                <span class="speaker-sub-heading">CUSAT</span>
                            </li>
                            <li class="mb-2"><span class="member-name">B. Kannan</span><br>
                                <span class="speaker-sub-heading">CUSAT</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Sanil Shanker. K. P.</span><br>
                                <span class="speaker-sub-heading">Kannur University</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Niladri Sekhar Das</span><br>
                                <span class="speaker-sub-heading">Indian Statistical Institute, Kolkata</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Organizing committee members -->
            <div class="div-margin" >
                <h4 data-aos="fade-up">Organizing Committee</h4>
                <div  class="row div-margin">
                    <div class="col-lg-6">
                        <ul  data-aos="fade-up">
                            <li  class="mb-2"><span class="member-name">Dinesh Lal</span>
                                <span class="speaker-sub-heading">(Chair)</span>
                            </li>
                            <li  class="mb-2"><span class="member-name">Hasiya U N </span>
                                <span class="speaker-sub-heading">(Co-chair)</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Umamahesh </span>
                                <span class="speaker-sub-heading">(Finance Chair)</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Shabina B </span>
                                <span class="speaker-sub-heading">(Organizing Secratary)</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Meharuniza </span>
                                <span class="speaker-sub-heading">(Program Convenor)</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Saleena T S</span>
                                <span class="speaker-sub-heading">(Publication Chair)</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Niji G S</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Alaka</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Panchami S</span>
                            </li>
                            <li class="mb-2"><span class="member-name">Navaneeth S</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul data-aos="fade-up">
                            <li class="mb-2"><span class="member-name">Gayathri K A</span></li>
                            <li class="mb-2"><span class="member-name">Prajisha A K</span></li>
                            <li class="mb-2"><span class="member-name">Selvaraj</span></li>
                            <li class="mb-2"><span class="member-name">Geethika J S</span></li>
                            <li class="mb-2"><span class="member-name">Seena Jojith</span></li>
                            <li class="mb-2"><span class="member-name">Sarath V S</span></li>
                            <li class="mb-2"><span class="member-name">Jibin Kiran</span></li>
                            <li class="mb-2"><span class="member-name">Sabeerali K P</span></li>
                            <li class="mb-2"><span class="member-name">Adeeba M</span></li>
                            <li class="mb-2"><span class="member-name">Aswin Nath</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
